
<!-- latest news and update -->
<section class="bg-custom-bg-light dark:bg-gray-900]">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
      <div class="bg-gray-50 dark:bg-custom-bg/80 border border-gray-200 hover:bg-custom-bg/60 dark:border-gray-700 rounded-lg p-8 md:p-12 mb-8">
        <h1 class="text-gray-900 dark:text-custom-text text-3xl md:text-5xl font-extrabold mb-2 ">Latest News and Updates</h1>
        <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-6">Learn what's new with North Triam Tech and the latest trends in the IT industry. Stay on top of news and updates from us and the biggest firms in the industry.</p>
        <a href="#" class="inline-flex justify-center items-center py-2.5 text-base font-medium text-center text-custom-text rounded-lg dark:text-custom-primary">
          Read more
          <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
          </svg>
        </a>
      </div>
  
      <div class="grid md:grid-cols-2 gap-8">
        <div class="bg-gray-50 dark:bg-custom-bg/80 border border-gray-200 hover:bg-custom-bg/60 dark:border-gray-700 rounded-lg p-8 md:p-12">
          <img [src]="Bear" class="w-full"/>
          <h2 class="text-gray-900 dark:text-custom-text text-3xl font-extrabold mb-2">Bear Markets: Are They Common?</h2>
          <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">Bear markets are a normal thing. Since 1929 there have been 26 bear markets. 36 percent of stock is lost on average in a bear market, but gains 114 percent in time of a bull market.</p>
          <a href="#" class="inline-flex justify-center items-center py-2.5 px-5 text-base font-medium text-center text-custom-text rounded-lg bg-custom-accent hover:bg-custom-accent-hover focus:ring-4 focus:ring-custom-accent dark:focus:ring-custom-accent-hover">
              Read more
              <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
              </svg>
            </a>
        </div>
        

        <div class="bg-gray-50 dark:bg-custom-bg/80 border border-gray-200 hover:bg-custom-bg/60 dark:border-gray-700 rounded-lg p-8 md:p-12 ">
          <img [src]="Benefits" class="w-full"/>
          <h2 class="text-gray-900 dark:text-custom-text text-3xl font-extrabold mb-2">Benefits Of A Website For Small Businesses</h2>
          <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">One of the biggest help you can get in promoting your business and selling your products and services is having a website. A website allows businesses to differentiate themselves from others, mainly for consumers who are mostly on the internet.</p>
          <a href="#" class="inline-flex justify-center items-center py-2.5 px-5 text-base font-medium text-center text-custom-text rounded-lg bg-custom-accent hover:bg-custom-accent-hover focus:ring-4 focus:ring-custom-accent dark:focus:ring-custom-accent-hover">
          Read more
          <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
          </svg>
        </a>
        </div>
        <div class="bg-gray-50 dark:bg-custom-bg/80 border border-gray-200 hover:bg-custom-bg/60 dark:border-gray-700 rounded-lg p-8 md:p-12 ">
          <img [src]="Bolt" class="w-full"/>
          <h2 class="text-gray-900 dark:text-custom-text text-3xl font-extrabold mb-2">BOLT – The Latest in Point of Sale Systems from NorthTriamTech</h2>
          <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">NorthTriamTech is proud to present an avenue to take this data to your advantage. The latest in point of sale systems, we present to you BOLT. BOLT is a point of sale application designed to streamline your retail processes into the digital platform. </p>
          <a href="#" class="inline-flex justify-center items-center py-2.5 px-5 text-base font-medium text-center text-custom-text rounded-lg bg-custom-accent hover:bg-custom-accent-hover focus:ring-4 focus:ring-custom-accent dark:focus:ring-custom-accent-hover">
          Read more
          <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
          </svg>
        </a>
        </div>
        <div class="bg-gray-50 dark:bg-custom-bg/80 border border-gray-200 hover:bg-custom-bg/60 dark:border-gray-700 rounded-lg p-8 md:p-12 ">
          <img [src]="Bitcoin" class="w-full"/>
          <h2 class="text-gray-900 dark:text-custom-text text-3xl font-extrabold mb-2">The Crash of Bitcoin, Ether, and Other Cryptocurrencies</h2>
          <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">On Tuesday (September 7, 2021) El Salvador just became the first country in the world to welcome bitcoin as legal tender, regardless of extensive domestic doubtfulness and world wide warnings of threat for consumers.</p>
          <a href="#" class="inline-flex justify-center items-center py-2.5 px-5 text-base font-medium text-center text-custom-text rounded-lg bg-custom-accent hover:bg-custom-accent-hover focus:ring-4 focus:ring-custom-accent dark:focus:ring-custom-accent-hover">
          Read more
          <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
          </svg>
        </a>
        </div>
      </div>
    </div>
  </section>
    
   
    
   